.header {
    padding: 10px;
    font-size: 14px;
    background-color: #fff;
}

.navbarList {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navbarList li a{
    text-decoration: none;
    color: black;
}